<body> <div class="container mt-5">

    <form class="content" [formGroup]="registerForm"  (ngSubmit)="submitData(registerForm.value)" >

        <h3 class="text-center">LOGIN FORM</h3>
<div class="example">

        <div class="row">
          <div class="col-25"> <label for="email"><b>Email: </b></label>  </div>
           <div class="col-75">
            <input type="text" id="email" formControlName="email" class="form-control" [ngModel]="user_details?.email" placeholder="Email">
            
         </div></div>

        <div class="row">
          <div class="col-25"> <label for="password"><b>Password: </b></label> </div>
            <div class="col-75">
            <input type="password" id="password" formControlName="password" class="form-control" [ngModel]="user_details?.password" placeholder="Password">
              
          </div></div>

        <div class="text-center">
            <button class="button button1" [disabled]="registerForm.invalid"><b>LOGIN</b></button>      
        </div>

</div>
    </form>
    </div>
</body>