* {
  box-sizing: border-box;
}

.row{
  padding: 0px;
}

.bg3{
    padding: 20px;
    background-color: #F5F5F5;
    
    text-align: center;
    height: 1700px;
    width: 70px;
    float: left;
    }

.left1{
      padding: 15px;
      border: 1px;
      height: 80px;
      width:70px;

      margin-top: -15px;
      float: left;
      margin-left: -16px;
}

.dashboard{
  padding: 5px;
  height: 30px;
  width:110px;
  
  text-align:center; 
  font-size: 24px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 15px;
}

/*  Hamburger top media query */
@media (min-width:360px) and (max-width:912px){
  .navbar-toggle{
   margin-top:19px;
 }
  }
  
/*    Hamburger   */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width:800px){
 .bg1{ width: 100%;
}
}



/*  Dashboard styles and Media queries */
.imgicon{
  padding:15px;
  float: left;
  margin-left: 450px;
  margin-top: -45px;
}

span.circle {
  background-color:#A0004A;
  display:block;
  height:52px;
  width:50px;
  border-radius:50%;
  border:1px solid rgb(69, 66, 66);
  margin:auto;
  color:white;
  line-height:50px;
  text-align:center;
  
 margin-left: -150px;
 margin-top: 10px;
  }

  @media (min-width:360px) and (max-width:912px){

   span.circle{
      margin-top: 10px;
      margin-left: 100px;
    }
  }

.dash1{
  top: 13px;
  left: 1131px;
  width: 104px;
  height: 23px;
  text-align: left;
  font: normal normal normal 20px/30px Gill Sans;
  letter-spacing: 0px;
  color: #004D87;
  opacity: 1;

margin-top: 10px;
}

.dash2{
  top: 44px;
left: 1132px;
width: 64px;
height: 16px;
text-align: left;
font: normal normal normal 13px/30px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

}

.dash3{
  top: 45px;
left: 1235px;
width: 71px;
height: 16px;
text-align: left;
font: normal normal normal 14px/30px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

margin-left: 80px;
margin-top: -26px;
}

/*    Username details(dash classes)  ----  Mobile view    */
@media (min-width:360px) and (max-width:912px){

  .dash1, .dash2, .dash3{
     margin-top: 15px;
     margin-left: 120px;
   }
 }

 /*   all Media styles of Dashboard */

 @media (min-width:360px) and (max-width:912px){

  .imgicon{
     margin-top: -45px;
     margin-left: 170px;
   }
 }

 @media (min-width:900px) and (max-width:1024px){

  .imgicon{
     margin-top: -45px;
     margin-left: 500px;
   }
 }

 @media (min-width:768px) and (max-width:1282px){
  .imgicon{
     margin-top: -45px;
     margin-left: 320px;
   }
 }

 @media (min-width:1024px){
  .imgicon{
     margin-top: -45px;
     margin-left: 500px;
   }
 }

 @media (min-width:1280px){
  .imgicon{
     margin-top: -45px;
     margin-left:740px;
   }
 }


 @media (min-width:820px) and (max-width:912px){

  .dash1{
     margin-top: 5px;
     margin-left: 100px;
     float: left;
   }

   .dash2{
    margin-top: 13px;
    margin-left: 100px;
  }

  .dash3{
    margin-top: 11px;
    margin-left: 180px;
  }}

  @media (min-width:768px) and (max-width:800px){

    span.circle{
      float: left;
      margin-right: -30px;
    }

    .dash1{
       margin-top: 5px;
       margin-left: 100px;
       float: left;
     }
  
     .dash2{
      margin-top: 13px;
      margin-left: 100px;
    }
  
    .dash3{
      margin-top: 11px;
      margin-left: 180px;
    }}



/*   Inner classes  */
.inner-divs{
  float: center;
  margin-top: -1650px;
  margin-left:70px;
  text-align: center;
}

.team{
  font-size:15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 30px;
}

/*  -----Inner cards styles----  */
#menulist {
  margin: 0;
  padding: 5px;
}

.menuitem {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000067;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  opacity: 1;

  height: 90px;
  list-style-type: none;
  margin: 8px;
  padding: 18px;
  
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 48%; float: left;} /*    box width, height   */
  #rightsidebar {width: 48%; float: right;}
  #main {margin-left: 216px;}
  
}
 /*  -----3-small boxes-----  */
 /*    My Day   */
 .myday1 {
  top: 214px;
  left: 171px;
  width: 89px;
  height: 39px;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  border-radius: 5px 0px 0px 5px;
  opacity: 1;

  padding-top:8px;
  padding-left:20px;
  padding-right:18px;
}

.myday2{
  top: 224px;
width: 49px;
height: 19px;
text-align: left;
font: normal normal normal 15px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;


}

/*  KPIs  */
.kpi{
  top: 214px;
  left: 261px;
  width: 69px;
  height: 39px;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  border-radius: 0px 5px 5px 0px;
  opacity: 1;
  
  padding-top:8px;
  padding-left:20px;
  padding-right:18px;
  font-size: 16px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 1;

  margin-top:-47px;
  margin-left: 100px;
}

/*    Personalize  */
.personal{
  top: 214px;
  left: 261px;
  width: 78px;
  height: 39px;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  border-radius: 0px 5px 5px 0px;
  opacity: 1;
  
  padding:6px;
  font-size: 16px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 1;

  margin-top:-47px;
  margin-left: 340px;
 
}

/*    Personalize  Media queries  */
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 360px) and (max-width: 500px) { 
  .personal{
    margin-top:-47px;
    margin-left: 200px;
  }
 }

 @media (min-width: 390px) and (max-width: 420px) { 
  .personal{
    margin-top:-47px;
    margin-left: 200px;
    width:33%;
  }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  .personal{
  margin-top:-47px;
  margin-left: 200px;
} }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .personal{
    margin-top:-47px;
    margin-left: 200px;
    width:30%;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) { 
  .personal{
    margin-top:-47px;
    margin-left: 340px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .personal{
    margin-top:-47px;
    margin-left: 435px;
  }
 }
/*   Personalize  Media queries  ends here */

 /*   1st-Rectangle june 20 2022   */

 .rect{
  height: 70px;
 }
 .rect1 {
  font-size: 30px; 
  color: #004D87; 
  font-family: 'Gill Sans';
  letter-spacing: 2px;
  padding: 0px;

  margin-left: -200px;
  margin-top: -5px;
}

 /*   Media queries for 1st-Rectangle june 20 2022   */

@media (min-width:360px) and (max-width:1200px){
  .rect1{
    font-size:20px;
    float: left;
    margin-left: -80px;
  }

  .timerect{
    font-size:20px;
    float: left;
    margin-left: 250px;
    margin-top: -10px;
  }
}

@media (min-width:390px) and (max-width:1200px){
  .rect1{
    font-size:25px;
    float: left;
    margin-left: -80px;
  }

  .timerect{
    font-size:22px;
    float: left;
    margin-left: 270px;
   
  }
}


@media (min-width:1024px) and (max-width:1200px){
  .rect1{
    font-size:30px;
    float: left;
    margin-left: -140px;
  }

  .timerect{
    font-size:30px;
    float: left;
    margin-left: 380px;
   
  }
}

/*  Media query for 1st-rect Ends here */

/*.rect2 {
  float:left;
  left: 494px;
  width: 174px;
  height: 69px;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000067;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  opacity: 1;

padding: 15px; 
font: normal normal normal 30px/35px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;
  
  margin-top: -66px;
  margin-left: 520px;  
} */

/* @media (min-width:800px) and (max-width:1200px){

  .rect2{
    font-size:25px;
    margin-top: -66px;
  margin-left: 425px; 
  }
} */






/*    style for inner components  */

/* Inner componnets */
.inn{
  padding: 0px;
  margin-left: 70px;
 }

 /* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  
  .inn{
  padding: 0px;
  margin-left: 0px;
 }}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .inn{
    padding: 0px;
    margin-left: 0px;
   }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .inn{
    padding: 0px;
    margin-left: 20px;
   }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .inn{
    padding: 0px;
    margin-left: 10px;
   }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .inn{
    padding: 0px;
    margin-left: 70px;
   }
 }

 /*    Meeting   */
.meeting1{

  top: 298px;
  left: -70px;
  width: 40px;
  height: 29px;
  opacity: 1;
}

.meeting2
{
    top: 292px;
    left: 258px;
    width: 77px;
    height: 28px;
    text-align: left;
    font: normal normal normal 24px/50px Gill Sans;
    letter-spacing: 0px;
    color: #004D87;
    opacity: 1;

  margin-top: -12px;
  margin-left: 10px;  
}

.meeting3{
  top: 326px;
  left: 256px;
  width: 120px;
  height: 19px;
  text-align: left;
  font: normal normal normal 14px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
 
  margin-left: -80px;
  float: left;
  margin-top: 30px;
}

.meeting4{
  top: 294px;
  left: 426px;
  width: 89px;
  height: 39px;
  text-align: left;
  font: normal normal normal 16px/20px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

 margin-top: 2px;
 margin-left: 200px;
}

.ellipse1{
  width: 30px;
  height: 30px;
  opacity: 1;

  padding: 5px 10px;
  border-radius: 50%;
  background: #EA4018;
  color: white; 

  float: left;
  margin-left: 250px;
  margin-top: -48px;
}

@media (min-width:360px) and (max-width:800px){

  .meeting4{
    font-size:14px;
    margin-left: 165px;
    margin-top: 2px;
  }

  .ellipse1{
   display: none;
  }
}

@media only screen and (max-width: 1189px) {

  .ellipse1{
    margin-left: 165px;
    margin-top: -50px;
  }
}

/*    Client   */
.client1{
  top: 406px;
  left: 195px;
  width: 40px;
  height: 32px;
  opacity: 1;

 
}

.client2{
  top: 400px;
  left: 258px;
  width: 59px;
  height: 28px;
  text-align: left;
  font: normal normal normal 24px/50px Gill Sans;
  letter-spacing: 0px;
  color: #004D87;
  opacity: 1;
  
  margin-left: 10px;
  margin-top: -14px;
    
}

.client3{
  top: 434px;
  left: 259px;
  width: 60px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/50px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  margin-top: 13px;
  margin-left: -58px;

}

.client5{
  top: 402px;
  left: 440px;
  width: 85px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/20px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  margin-left: 170px;

}

.client6{
  top: 428px;
  left: 440px;
  width: 121px;
  height: 59px;
  text-align: left;
  font: normal normal normal 12px/15px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  margin-left: 170px;
}
@media (min-width:360px) and (max-width:800px){

  .client5{
    font-size:14px;
    margin-left: 150px;
    margin-top: -1px;
  }

  .client6{
    font-size: 12px;
    margin-left: 150px;
    margin-top: -10px;
  }
}

/*    Team    */
.team1{
  top: 538px;
  left: 195px;
  width: 39px;
  height: 44px;
  opacity: 1;

}

.team2{
  top: 532px;
  left: 258px;
  width: 51px;
  height: 28px;
  text-align: left;
  font: normal normal normal 24px/50px Gill Sans;
  letter-spacing: 0px;
  color: #004D87;
  opacity: 1;

  margin-top: -15px;
  margin-left: 10px;
}

.team3{
  top: 566px;
  left: 259px;
  width: 60px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/50px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;


  margin-left: -50px;
  margin-top: 14px;

}

.team5{
  top: 534px;
  left: 440px;
  width: 91px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/20px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  margin-top: -5px;
  margin-left: 170px;
}

.team6{
  top: 560px;
  left: 440px;
  width: 111px;
  height: 59px;
  text-align: left;
  font: normal normal normal 12px/15px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 5px;
  margin-left: 170px;
}

@media (min-width:360px) and (max-width:800px){

  .team5{
    font-size:14px;
    margin-left: 150px;
    margin-top: -3px;
  }

  .team6{
    font-size: 10px;
    margin-left: 150px;
    margin-top: -10px;
  }
}
/*    jun   */

.jun1{
  top: 670px;
  left: 195px;
  width: 40px;
  height: 56px;
  opacity: 1;

}

.jun2{
  top: 664px;
  left: 261px;
  width: 115px;
  height: 28px;
  text-align: left;
  font: normal normal normal 24px/50px Gill Sans;
  letter-spacing: 0px;
  color: #004D87;
  opacity: 1;

  margin-top: -15px;
  margin-left: 10px;
}

.jun3{
top: 697px;
left: 263px;
width: 61px;
height: 19px;
text-align: left;
font: normal normal normal 15px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

margin-top: 28px;
margin-left: -115px;
float: left;

}

.jun4{
  top: 665px;
  left: 426px;
  width: 144px;
  height: 39px;
  text-align: left;
  font: normal normal normal 16px/20px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  margin-top: -3px;
  margin-left: 200px;
}

.jun5{
  top: 707px;
  left: 426px;
  width: 154px;
  height: 29px;
  text-align: left;
  font: normal normal normal 12px/15px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  margin-top: -10px;
  margin-left: 200px;  
}

@media (min-width:360px) and (max-width:912px){
  .jun2{
    font-size:18px;
  }

  .jun4{
    font-size:9px;
    margin-left: 120px;
    margin-top: -2px;
  }

  .jun5 {
    font-size:8px;
    margin-left: 160px;
    margin-top: -13px;
    
  }

}


/*    Total Hours  */
.total1{
  top: 141px;
  width: 40px;
  height: 41px;
  opacity: 1;

}


.total2{
top: 136px;
left: 860px;
width: 136px;
height: 53px;
text-align: left;
font: normal normal normal 23px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;

margin-left: 10px;
margin-top: -7px;

}

@media (min-width:360px) and (max-width:912px){

  .total2{
    font-size:18px;
   
    /*margin-left: 120px;
     margin-top: 10px;
    */
  }
}

.total3{
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-left: -135px;
margin-top: 30px;

}
@media (min-width:360px) and (max-width:912px){

  .total3{
    font-size:15px;
    margin-top: 16px;
    /*margin-left: 120px;*/
  }
}

.total4{
top: 156px;
left: 1041px;
width: 60px;
height: 35px;
text-align: left;
font: normal normal normal 30px/18px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;

float: left;
margin-left: 50px;
margin-top: 10px;

}

@media (min-width:360px) and (max-width:912px){

  .total4{
    font-size:16px;
    margin-top: -50px;
    margin-left: 170px;
  }
}

.total5{
top: 157px;
left: 1150px;
width: 51px;
height: 34px;
text-align: left;
font: normal normal 300 30px/18px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-left: 140px;
margin-top: -46px;

}

@media (min-width:360px) and (max-width:912px){

  .total5{
    font-size:15px;
    margin-top: -50px;
    margin-left: 220px;
  }
}
/*    Total Non Hours  */

.totalNon1{
  top: 271px;
left: 795px;
width: 40px;
height: 44px;
opacity: 1;

}

.totalNon2{
  top: 266px;
width: 136px;
height: 53px;
text-align: left;
font: normal normal normal 23px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;

margin-left: 10px;
margin-top: -5px;

}

@media (min-width:360px) and (max-width:912px){

  .totalNon2{
    font-size:18px;
   
    /*margin-left: 120px;
     margin-top: 10px;
    */
  }
}
.totalNon3{
  top: 320px;
width: 88px;
height: 19px;
text-align: left;
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-left: -135px;
margin-top: 30px;
}

@media (min-width:360px) and (max-width:912px){

  .totalNon3{
    font-size:15px;
    margin-top: 16px;
    /*margin-left: 120px;*/
  }
}

.totalNon4{
  
width: 45px;
height: 35px;
font: normal normal normal 30px/18px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;

float: left;
margin-left: 55px;
margin-top: 10px;

}

@media (min-width:360px) and (max-width:912px){

  .totalNon4{
    font-size:16px;
    margin-top: -50px;
    margin-left: 158px;
  }
}


.totalNon5{
width: 51px;
height: 34px;
font: normal normal 300 30px/18px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-left: 140px;
margin-top: -45px;

}

@media (min-width:360px) and (max-width:912px){

  .totalNon5{
    font-size:15px;
    margin-top: -50px;
    margin-left: 200px;
  }
}

/*    Approximate Revenue  */

.apprevenue1{
  top: 401px;
  width: 40px;
  height: 41px;
  opacity: 1;

}

.apprevenue2{
  top: 396px;
  width: 134px;
  height: 53px;
  text-align: left;
  font: normal normal normal 24px/25px Gill Sans;
  letter-spacing: 0px;
  color: #004D87;
  opacity: 1;

  margin-left: 10px;
}

@media (min-width:360px) and (max-width:912px){

  .apprevenue2{
    font-size:19px;
    
  }
}

.apprevenue3{
  top: 393px;
  width: 113px;
  height: 35px;
  text-align: left;
  font: normal normal normal 30px/18px Gill Sans;
  letter-spacing: 0px;
  color: #00B3A7;
  opacity: 1;

  margin-left: 210px;
  margin-top: 8px;
}

@media (min-width:360px) and (max-width:912px){

  .apprevenue3{
    font-size:18px;
    margin-top: 10px;
    margin-left: 160px;
  }
}

.apprevenue4{
  top: 431px;
width: 88px;
height: 19px;
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

margin-left: 210px;
margin-top: -30px;

}

@media (min-width:360px) and (max-width:912px){

  .apprevenue4{
    font-size:10px;
    margin-top: -40px;
    margin-left: 160px;
  }
}

/*    Average Billing Rate  */

  .average1{
    top: 512px;
    left: 795px;
    width: 40px;
    height: 36px;
    opacity: 1;
  
  }
  
  .average2{
    top: 507px;
  left: 860px;
  width: 108px;
  height: 53px;
  text-align: left;
  font: normal normal normal 24px/25px Gill Sans;
  letter-spacing: 0px;
  color: #004D87;
  opacity: 1;
  
  margin-left: 10px;
   
  }
  
  @media (min-width:360px) and (max-width:912px){

    .average2{
      font-size:19px;
    }
  }

  .average3{
    top: 504px;
  left: 1047px;
  width: 61px;
  height: 35px;
  text-align: left;
  font: normal normal normal 30px/18px Gill Sans;
  letter-spacing: 0px;
  color: #00B3A7;
  opacity: 1;
  
 margin-top: 8px;
 margin-left: 210px;
  }
  
  @media (min-width:360px) and (max-width:912px){

    .average3{
      font-size:18px;
      margin-top: 10px;
      margin-left: 180px;
    }
  }

  .average4{
    top: 542px;
  left: 1049px;
  width: 61px;
  height: 19px;
  font: normal normal normal 15px Gill Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
    
 margin-top: -13px;
 margin-left: 210px;
  }
  
  @media (min-width:360px) and (max-width:912px){
    .average4{
      font-size:10px;
      margin-top: -20px;
      margin-left: 170px;
    }
  }

   /*    Closed  */

.closed1{
  top: 624px;
  left: 795px;
  width: 40px;
  height: 29px;
  opacity: 1;
  
}

.closed2{
  top: 618px;
left: 859px;
width: 68px;
height: 28px;
text-align: left;
font: normal normal normal 24px/25px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;

margin-left: 10px;
margin-top: -4px;
}

.closed2-1{
  top: 625px;
left: 940px;
width: 50px;
height: 19px;
text-align: left;
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-top: -17px;
margin-left: 15px;

}

.closed2-2{
 top: 642px;
left: 854px;
width: 45px;
height: 35px;
text-align: left;
font: normal normal normal 26px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1; 

float: left;
margin-top: 20px;
margin-left: -135px;

}

.closed2-3{
  top: 676px;
left: 859px;
width: 53px;
height: 19px;
text-align: left;
font: normal normal normal 15px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-top: 48px;
margin-left: -130px;
}

.closed2-4{
  top: 676px;
left: 925px;
width: 72px;
height: 19px;
text-align: left;
font: normal normal normal 15px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-top: 48px;
margin-left: -60px;
}


.closed3{
  top: 618px;
left: 1047px;
width: 61px;
height: 28px;
text-align: left;
font: normal normal normal 24px/25px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;

float: left;
margin-top: -4px;
margin-left: 20px;
}

.closed3-1{
  top: 625px;
left: 1122px;
width: 50px;
height: 19px;
text-align: left;
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-top: -16px;
margin-left: 15px;
}

.closed3-2{
  top: 642px;
left: 1047px;
width: 30px;
height: 35px;
text-align: left;
font: normal normal normal 30px/18px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;
 
float: left;
margin-top: 25px;
margin-left: -125px;
}

.closed3-3{
  top: 676px;
left: 1047px;
width: 53px;
height: 19px;
text-align: left;
font: normal normal normal 15px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-top: 48px;
margin-left: -127px;
}

.closed3-4{
  top: 676px;
left: 1113px;
width: 72px;
height: 19px;
text-align: left;
font: normal normal normal 15px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-top: 48px;
margin-left: -60px;

}

@media (min-width:360px) and (max-width:912px){
  .closed2{
    font-size:18px;
  }

  .closed2-1{
    font-size:10px;
    margin-top: -17px;
    margin-left: -10px;
  }

  .closed2-2{
    font-size:20px;
    margin-top: 18px;
    margin-left: -110px;
  }

  .closed2-3{
    font-size:10px;
    margin-top: 48px;
    margin-left: -108px;
  }

  .closed2-4{
    font-size:10px;
    margin-top: 48px;
    margin-left: -65px;
  }

  .closed3{
    font-size:18px;
    margin-top: -80px;
    margin-left: 170px;
    
  }

  .closed3-1{
    font-size:10px;
    margin-top: -92px;
    margin-left: 222px;
  }

  .closed3-2{
    font-size:20px;
    margin-top: -57px;
    margin-left: 170px;
  }
 
  .closed3-3{
    font-size:10px;
    margin-top: -30px;
    margin-left: 168px;
  }

  .closed3-4{
    font-size:10px;
    margin-top: -30px;
    margin-left: 210px;
  }
}

  /*    New Clients  */
  
  .newclients1{
    top: 761px;
    left: 795px;
    width: 40px;
    height: 39px;
    opacity: 1;

  }
  
  .newclients2{
    top: 756px;
  left: 859px;
  width: 122px;
  height: 28px;
  text-align: left;
  font: normal normal normal 23px Gill Sans;
  letter-spacing: 0px;
  color: #004D87;
  opacity: 1;

  margin-left: 10px;
  margin-top: -3px;
 
  }
  
  .newclients3{
    top: 780px;
    left: 859px;
    width: 15px;
    height: 35px;
    text-align: left;
    font: normal normal normal 30px/18px Gill Sans;
    letter-spacing: 0px;
    color: #00B3A7;
    opacity: 1;
   
    float: left;
    margin-left: -120px;
    margin-top: 25px;
  }
  
  .newclients4{
    top: 790px;
    left: 887px;
    width: 71px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/50px Gill Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    float: left;
    margin-left: -92px;
    margin-top: 10px;
  }
  
  .newclients5{
    top: 780px;
    left: 1047px;
    width: 15px;
    height: 35px;
    text-align: left;
    font: normal normal normal 30px/18px Gill Sans;
    letter-spacing: 0px;
    color: #00B3A7;
    opacity: 1;

    float: left;
    margin-left: 45px;
    margin-top: 24px;

  }
  
  .newclients6{
    top: 790px;
    left: 1077px;
    width: 59px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/50px Gill Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    float: left;
    margin-left: 15px;
    margin-top: 8px;

  }
  
  @media (min-width:360px) and (max-width:912px){
    .newclients2{
      font-size:18px;
    }
  
    .newclients3{
      font-size:25px;
      margin-top: 24px;
      margin-left: -120px;
    }
  
    .newclients4{
      font-size:16px;
      margin-top: 8px;
      margin-left: -100px;
    }

    .newclients5{
      font-size:25px;
      margin-left: -8px;
      margin-top: 24px;
    }

    .newclients6{
      font-size:16px;
      margin-left: 183px;
      margin-top: -61px;
    }
  }

  /*    New Hires  */
.newhires1{
  top: 874px;
  left: 795px;
  width: 40px;
  height: 34px;
  opacity: 1;
}

.newhires2{
  top: 870px;
left: 859px;
width: 106px;
height: 28px;
text-align: left;
font: normal normal normal 23px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;

margin-left: 10px;
margin-top: -5px;
}

.newhires3{
  top: 894px;
left: 859px;
width: 15px;
height: 35px;
text-align: left;
font: normal normal normal 30px/18px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;

float: left;
margin-left: -105px;
margin-top: 28px;

}

.newhires4{
  top: 904px;
left: 887px;
width: 100px;
height: 19px;
text-align: left;
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-left: -75px;
margin-top: 11px;
}

.newhires5{
  top: 894px;
left: 1047px;
width: 15px;
height: 35px;
text-align: left;
font: normal normal normal 30px/18px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;

float: left;
margin-left: 38px;
margin-top: 28px;
}

.newhires6{
  top: 904px;
left: 1077px;
width: 42px;
height: 19px;
text-align: left;
font: normal normal normal 15px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-left: 15px;
margin-top: 28px;
}

@media (min-width:360px) and (max-width:912px){
  .newhires2{
    font-size:18px;
  }

  .newhires3{
    font-size:25px;
    margin-top: 24px;
    margin-left: -105px;
  }

  .newhires4{
    font-size:13px;
    margin-top: 8px;
    margin-left: -88px;
  }

  .newhires5{
    font-size:25px;
    margin-left: -5px;
    margin-top: 24px;
  }

  .newhires6{ 
    font-size:15px;
    margin-left: 5px;
    margin-top: 26px;
  }
}

/*    Data Storage  */

.datastorage1{
top: 989px;
left: 795px;
width: 30px;
height: 39px;
opacity: 1;

}


.datastorage2{
  top: 984px;
left: 859px;
width: 127px;
height: 28px;
text-align: left;
font: normal normal normal 24px/25px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;

margin-left: 20px;
margin-top: -2px;
}

.datastorage3{
  top: 1008px;
left: 859px;
width: 30px;
height: 35px;
text-align: left;
font: normal normal normal 30px/18px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;

float: left;
margin-left: -125px;
margin-top: 30px;
}


.datastorage4{
  top: 1021px;
left: 902px;
width: 21px;
height: 19px;
text-align: left;
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;

float: left;
margin-left: -80px;
margin-top: 17px;
}


.datastorage5{
  top: 984px;
left: 1046px;
width: 154px;
height: 28px;
text-align: left;
font: normal normal normal 24px/25px Gill Sans;
letter-spacing: 0px;
color: #004D87;
opacity: 1;

float: left;
margin-top: -36px;
margin-left:175px
}

.datastorage6{
  top: 1008px;
left: 1046px;
width: 15px;
height: 35px;
text-align: left;
font: normal normal normal 30px/18px Gill Sans;
letter-spacing: 0px;
color: #00B3A7;
opacity: 1;

float: left;
margin-left: 175px;
margin-top: -5px;
}

.datastorage7{
 top: 1021px;
left: 1072px;
width: 21px;
height: 19px;
text-align: left;
font: normal normal normal 16px/50px Gill Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1; 

float: left;
margin-left: 10px;
margin-top: -18px;
}

@media (min-width:360px) and (max-width:912px){
  .datastorage2{
    font-size:15px;
  }

  .datastorage3{
    font-size:20px;
    margin-top: 24px;
    margin-left: -126px;
  }

  .datastorage4{
    font-size:12px;
    margin-top: 12px;
    margin-left: -95px;
  }


.datastorage5{
  font-size:15px;
margin-top: -41px;
margin-left:143px
}

.datastorage6{
  font-size:20px;
  margin-top: -15px;
    margin-left: 143px;
}

.datastorage7{
  font-size:12px;
  margin-top: -57px;
    margin-left: 160px;
}
} 

