<div class="container mt-5">

    <form class="content" [formGroup]="registerForm"  (ngSubmit)="submitData()" >

        <h3 class="text-center">Reactive Form</h3>
        <div class="row">

        <div class="mt-2 mb-2 col-lg-6 col-6">
            <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
        <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
            <span class="error" *ngIf="firstname.errors?.required">*FirstName is required.</span>
            <span  class="error" *ngIf="firstname.errors?.pattern">*Enter only Characters.</span>
        </div>
        
        </div>
        
        <div class="mt-2 mb-2 col-lg-6 col-6">
            <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
            <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                <span class="error" *ngIf="lastname.errors?.required">*LastName is required.</span>
                <span  class="error" *ngIf="lastname.errors?.pattern">*Enter only Characters.</span>
            </div>
        </div>

        <div class="mt-2 mb-2 col-lg-12 col-12">
            <input type="text" formControlName="emailId" class="form-control" placeholder="Email Id">
            <div *ngIf="emailid.invalid && (emailid.touched || emailid.dirty)">
                <span class="error" *ngIf="emailid.errors?.required">*Email is required.</span>
                <span  class="error" *ngIf="emailid.errors?.email">*Enter Valid Email Address.</span>
            </div>
        </div>

        <div class="mt-2 mb-2 col-lg-12 col-12">
            <input type="text" formControlName="mobileNumber" class="form-control" placeholder="Mobile Number">
            <div *ngIf="mobilenumber.invalid && (mobilenumber.touched || mobilenumber.dirty)">
                <span class="error" *ngIf="mobilenumber.errors?.required">*Mobile Number is required.</span>
                <span  class="error" *ngIf="mobilenumber.errors?.pattern">*Enter Valid Mobile Number.</span>
                
            </div>
        </div>

        <div class="mt-3 col-lg-12 col-12">
            <button class="btn" [disabled]="registerForm.invalid">Submit</button>      
        </div>

    </div>
    </form>
    </div>
