.content{
    max-width: 500pz;
    margin: auto;
    background-color: #fff;
    padding: 2% 2%;
}

button{
    background: #000;
    color: #fff;
    
}
button:hover{
    background-color: #000;
    color: #fff;
}

.error{
    color: red;

}

.text-center{
font-family:  'Times New Roman', Times, serif;
font-size: 50px;
font-style: normal;
color: rgb(5, 100, 117);
}
