

body{
    justify-content: center;
    display: flex;
    font-family: TimesNewRoman;

}
.main{
    justify-content: center;
    width: 400px;
    padding: 15px;
    background-color: #ededed;
}
h1{
    text-align: center;
    color: #273746;
    margin: 10px;
}
input[type=string]{
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-left: 8px;
    border-radius: 3px;
    border: none;
    outline: none;
}

input[type=text]{
    border: none;
    outline: none;
    font-family: TimesNewRoman;
}

.search{
    position: relative;
}
.search span{
    position: absolute;
    top: -10px;
    right: -4px;
    background: #45B39D;
    padding: 20px;
    display: flex;
    border-radius: 100%;
    cursor: pointer;
}
ul{
    padding: 2px;
    list-style: none;
}
ul{
    background: #fff;
    padding: 10px;
    margin: 5px;
    border-right: 4px solid #e69d17;
    border-left: 4px solid #e69d17;
}
ul li i{
    padding: 4px;
    float: right;
    cursor: pointer;
}
